<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Siro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Siro.sl.dbo" connectionString="XpoProvider=MSSqlServer;Data Source=192.168.5.128;Initial catalog=SiroSolcosaAdmin;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
    <add name="Siro.Properties.Settings.slConnectionString" connectionString="Data Source=192.168.5.128;Initial catalog=SiroSolcosaAdmin;Persist Security Info=True; User ID=mcafeuser;Password=systemroot" providerName="System.Data.SqlClient" />
    <add name="slEntities" connectionString="metadata=res://*/Contabilidad.csdl|res://*/Contabilidad.ssdl|res://*/Contabilidad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.128;initial catalog=SiroSolcosaAdmin; User ID=mcafeuser;password=systemroot;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="slPlanilla" connectionString="metadata=res://*/PlanillaDb.csdl|res://*/PlanillaDb.ssdl|res://*/PlanillaDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.128;initial catalog=SiroSolcosaAdmin; User ID=mcafeuser;password=systemroot;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="slContabilidad" connectionString="metadata=res://*/slContabilidad.csdl|res://*/slContabilidad.ssdl|res://*/slContabilidad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.128;initial catalog=SiroSolcosaAdmin; User ID=mcafeuser;password=systemroot;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="slGestiones" connectionString="metadata=res://*/slGestiones.csdl|res://*/slGestiones.ssdl|res://*/slGestiones.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.128;initial catalog=SiroSolcosaAdmin; User ID=mcafeuser;password=systemroot;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="slSiroCon" connectionString="metadata=res://*/slSiro.csdl|res://*/slSiro.ssdl|res://*/slSiro.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.5.128;initial catalog=SiroSolcosaAdmin;persist security info=True; User ID=mcafeuser;password=systemroot;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Siro.Properties.Settings.CnnReport" connectionString="Data Source=192.168.5.128;Initial catalog=SiroSolcosaAdmin;Persist Security Info=True;User id=mcafeuser;Password=systemroot" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Siro.Properties.Settings>
      <setting name="UltimoUsuario" serializeAs="String">
        <value />
      </setting>
      <setting name="DFecha" serializeAs="String">
        <value />
      </setting>
      <setting name="DIdEmpresa" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ArchivoPlanilla" serializeAs="String">
        <value>C:\data.txt</value>
      </setting>
      <setting name="UltimoZ" serializeAs="String">
        <value />
      </setting>
      <setting name="UsarFiscal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Spoolers" serializeAs="String">
        <value>D:\Hasar\Testf1000\wspooler.exe</value>
      </setting>
      <setting name="DEmpresa" serializeAs="String">
        <value>ABREGO S.A</value>
      </setting>
      <setting name="Img" serializeAs="String">
        <value />
      </setting>
    </Siro.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>